# Ignore virtual environment
env/
# Ignore environment variables
.env
# Ignore Python cache files
__pycache__/
*.pyc
# Ignore IDE/editor-specific files
.vscode/
.idea/
# Ignore OS-specific files
.DS_Store
Thumbs.db
*.json

reportifyppp.2025-02-09.private-key.pem
globalappapi.2025-02-20.private-key.pem
repoai-440607-1e1a562bfa90.json
repo-ai.2025-02-12.private-key.pem
repoai-api.2025-02-22.private-key.pem
repoai-450409-969b23a3891c.json
